$primary: #342574;
// $primary: #5a3fca;
$secondary: #f2d11d;
$dark: #110e20;
$light: #f4f4f6;
$success: #9bcc89;
// $success: #204C39;
$info: $dark;
$warning: #b87d31;
// $danger: #c42a3d;
$danger: #ea4236;

@import "~bootstrap/scss/bootstrap";
$fa-font-path: "~@fortawesome/fontawesome-free/webfonts/";
@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free/scss/regular.scss";
@import "@fortawesome/fontawesome-free/scss/solid.scss";

#map {
  height: 60vh;
  position: fixed;
}

.main {
  min-height: 75vh;
}

.custom-select {
  background-image: none;
}

.navbar .logo {
  height: 90px;
}

.icon::before {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

.stars-outer {
  position: relative;
  display: inline-block;
}

.stars-inner {
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  overflow: hidden;
  width: 0;
}

.stars-outer::before {
  content: "\f005 \f005 \f005 \f005 \f005";
  font-family: "Font Awesome 5 Free";
  font-weight: 400;
  color: $secondary;
  font-size: 14px;
}

.stars-inner::before {
  content: "\f005 \f005 \f005 \f005 \f005";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: $secondary;
  font-size: 14px;
}

.card {
  cursor: pointer;
  .restaurant-name {
    &:hover {
      color: $danger !important;
    }
  }
}

footer {
  height: 80px;
}

#streetViewImg {
  width: 100%;
}

// restaurant-details card
input.star {
  border: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  opacity: 0;
  float: right;
}

label.star {
  position: relative;
  float: right;
  color: $dark;
}

label.star:before {
  margin: 3px;
  content: "\f005";
  font-family: "Font Awesome 5 Free";
  font-weight: 800;
  font-size: 1.2em;
  color: $dark;
  -webkit-user-select: none; /* Safari 3.1+ */
  -moz-user-select: none; /* Firefox 2+ */
  -ms-user-select: none; /* IE 10+ */
  user-select: none;
}

input.star:checked ~ label.star:before {
  color: $secondary;
}

label.star:hover ~ label.star:before {
  color: $secondary;
}

label.star:hover:before {
  color: $secondary;
}
