$primary: #342574;
// $primary: #5a3fca;
$secondary: #F2D11D;
$dark: #110E20;
$light: #F4F4F6;
$success: #9BCC89;
// $success: #204C39;
$info: $dark;
$warning: #B87D31;
$danger: #C42A3D;

@import "~bootstrap/scss/bootstrap";

#map {
  height: 60vh; 
  position: fixed; 
}

.navbar .logo {
  height: 90px;
}